<!-- start custom head snippets -->
<!--
<style>
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
</style>
-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" id="theme_source">

{% if site.minimal_mistakes_skin2 %}
  <link rel="stylesheet alternate" href="{{ '/assets/css/theme2.css' | relative_url }}" id="theme_source_2">
  <script>
     function set_theme() {
         if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
           node1 = document.getElementById('theme_source');
           node2 = document.getElementById('theme_source_2');
           node1.setAttribute('rel', 'stylesheet alternate');
           node2.setAttribute('rel', 'stylesheet');
         }
     }
     window.onload = set_theme;
</script>

{% endif %}
