---
# Only the main Sass file needs front matter (the dashes are enough)
---


$serif: 'Brygada 1918', serif;
// $sans-serif-narrow  : "PT Sans Narrow", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
//$sans-serif: 'Inter', sans-serif;

//$sans-serif: 'Newsreader', Serif;

$sans-serif: 'Lora', Serif;
//$sans-serif: 'Archivo', sans-serif;
$global-font-family : $sans-serif;



@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin2 | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
